<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>

<h4>JPA 기본 메소드 실습하기</h4>
<a th:href="@{/user1/list}">User1 목록</a>

<h3>시큐리티 로그인</h3>

<h4>인증</h4>
<a th:href="@{/user1/login}">HttpSession 인증 실습</a><br>
<a th:href="@{/user2/login}">Spring Security 인증 실습</a>

<h4>인가 테스트</h4>
<a th:href="@{/admin/success}">admin/success</a><br>
<a th:href="@{/member/success}">member/success</a><br>
<a th:href="@{/guest/success}">guest/success</a><br>

</body>
</html>